/* Styles pour AboutSection */
.about-section {
    margin-top: 2rem;
  }
  
  .about-item {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .about-button {
    background-color: #007BFF;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
  }
  
  .about-button:hover {
    background-color: #0056b3;
  }
  
  .about-button.active {
    background-color: #0056b3;
  }
  
  .about-content {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #bbcae7;
    border-radius: 40px;
    box-shadow: 5px 10px 5px rgba(32, 66, 204, 0.114);
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* Animation d'apparition */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  